@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #322d3d;
    overflow-x: hidden;
}
section {
    position: relative;
    margin-top: 7vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container {
    width: 60%;
    height: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
}
.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.form-content {
    margin-top: 2vh;
    width: 100%;
    padding: 2rem;
}
.form-content h1 {
    font-size: 4rem;
    font-family: 'Roboto';
    font-weight: 700;
    color: #322d3d;
    margin-bottom: 2rem;
}
.form-content p {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #322d3d;
    margin-bottom: 2rem;
}
.form-topics {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.topics {
    display: flex;
    flex-direction: row;
}
.ether {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
    margin-right: 1rem;
    color: #fff;
    background: linear-gradient(to right, rgba(227,38,9,1) 0%, rgba(242,88,4,1) 100%);
    border-radius: 1.5rem;
}
.ether i {
    font-size: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
}
.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto';
}
label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.info-erro {
    font-size: 1.2rem;
    color: #ff4500;
    font-weight: 400;
}
.erro {
    border-color: #ff4500;
}
input {
    outline: none;
    height: 4rem;
    margin-bottom: 2rem;
}
.btn {
    background-color: #130a25;
    color: #fff;
    height: 4rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:disabled {
    opacity: 70%;
    cursor: auto;
}
.btn:hover {
    background: linear-gradient(to right, rgba(227,38,9,1) 0%, rgba(242,88,4,1) 100%);
    transition: ease-in-out 0.4s;
}
.form-template {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow-x: hidden;
}
.subscribing-container {
    position: absolute;
    width: 30%;
    height: auto;
    padding: 4rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}
.subscribing-ether-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.subscribing-ether {
    width: 3rem;
    height: 3rem;
    padding: 0.7rem;
    align-items: flex-start;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgba(227,38,9,1) 0%, rgba(242,88,4,1) 100%);
    border-radius: 3rem;
}
.subscribing-ether i {
    font-size: 2rem;
}
.subscribing-thank {
    margin-top: 2rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
.subscribing-thank h1 {
    font-size: 4rem;
    font-family: 'Roboto';
    font-weight: 700;
    color: #322d3d;
    margin-bottom: 2rem;
}
.subscribing-thank p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #322d3d;
    margin-bottom: 3rem;
}
.subscribing-thank a {
    text-decoration: none;
    color: #130a25;
    font-weight: 700;
}
.subscribing-btn {
    width: 100%;
    background-color: #130a25;
    color: #fff;
    height: 4rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.subscribing-btn:hover {
    background: linear-gradient(to right, rgba(227,38,9,1) 0%, rgba(242,88,4,1) 100%);
}
footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.attribution {
    font-size: 1.4rem; text-align: center; color: #fff;
    font-family: 'Roboto';
}
.attribution a {
    color:  #f25804; 
    text-decoration: none;
}
.attribution a:hover {
    text-shadow: 1px 1px #130a25;
}
/* Mobile */
@media(max-width: 768px) {
    section {
        margin-top: 2vh;
        padding: 0;
    }
    .container {
        width: 80% !important;
        height: 100vh;
        padding: 5px;
        border-radius: 20px;
    }
    .form-container {
        flex-direction: column-reverse;
    }
    .form-content h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .form-content p {
        font-size: 12px;
        margin-bottom: 2rem;
    }
    .form-template {
        width: 100%;
        background-image: url(../assets/images/illustration-sign-up-mobile.svg);
    }
    img {
        display: none;
    }
}

/* Desktop */
@media(max-width: 1024px) {
    .container, .subscribing-container {
        width: 100%;
    }
}